.col-md-9.text-right
  ul.list-inline
    li
      a(href="#",onclick="printFunction()" target="_blank")
        i.fa.fa-lg.fa-print
    li
      a#pdf
        i.fa.fa-lg.fa-file-pdf-o
    li
      a(href="/contact")
        i.fa.fa-lg.fa-envelope