extends ../layouts/default
block content
    section
      #inner-banner
      #inner-content-box
        #content-box
          .container
            #offerings
              include ../views/icon.jade
              .col-md-9#content-data
                h2 #{data.msps[0].heading}
                .row
                  .col-md-4
                    if data.msps.length
                        if data.msps[0].mspImages.exists
                          img(id="image",src=data.msps[0].mspImages.url)
                  .col-md-8
                    p
                      | #{data.msps[0].mspSolutionstext}
              include ../views/listingmenu
   