extends ../layouts/default
block content
    section
      #inner-banner
      #inner-content-box
        #content-box
          .container
            #offerings
              include ../views/icon.jade
              .col-md-9#content-data
                h2 #{data.softwareproducts[0].heading}
                .row
                  .col-md-4
                    if data.softwareproducts.length
                          img(id="image",src=data.softwareproducts[0].softwareProductsImages.url)
                  .col-md-8
                      p
                        | #{data.softwareproducts[0].softwareProucttext}
              include ../views/listingmenu