extends ../layouts/default
block content
    section
      #inner-banner
      #inner-content-box
        #content-box
          .container
            #offerings
              include ../views/icon.jade
              .col-md-9#content-data
                h2 #{data.technologyresales[0].heading}
                .row
                  .col-md-4
                    if data.technologyresales.length
                        if data.technologyresales[0].technologyResaleimage.exists
                          img(id="image",src=data.technologyresales[0].technologyResaleimage.url)
                  .col-md-8
                    p
                      | #{data.technologyresales[0].technologyResaletext}
              include ../views/listingmenu
     